@model List<Specialty>
@{
    ViewData["Title"] = "Role Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Genre Manager</h1>
<form method="post" asp-action="AddSpecialty" asp-controller="SpecialtyManage">
    <div class="input-group">
        <input name="specName" class="form-control w-25">
        <span class="input-group-btn">
            <button class="btn btn-info">Add New Specialty</button>
        </span>
    </div>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Specialty</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.NameSpecialty</td>
            </tr>
        }
    </tbody>
</table>
<form method="post" asp-controller="UserRoles" asp-action="Index">
    <button class="btn btn-primary">Back</button>
</form>