@model EditLoginPasswordViewModel
<h1>Изменить пароль</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="UserRoles">
            <h4>Создайте новый пароль.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <input asp-for="Email" type="hidden" />
            <input asp-for="Username" type="hidden" />
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" asp-action="EditPas">Редактировать</button>
            <button class="btn btn-primary" type="submit" asp-controller="UserRoles" asp-action="">Назад</button>
        </form>
    </div>
</div>
