@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль был изменён. Пожалуйста <a asp-page="./Login"> кликните, чтобы войти</a>.
</p>
