@model List<Discipline>

<h1>Управление дисциплинами</h1>
<form method="post" asp-action="AddDiscipline" asp-controller="DisciplinManage">
    <div class="input-group">
        <input name="discName" class="form-control w-25">
        <span class="input-group-btn">
            <button class="btn btn-info">Добавить новую дисциплину</button>
        </span>
    </div>
</form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Дисциплины</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var disc in Model)
            {
                <tr>
                    <td>@disc.Id</td>
                    <td>@disc.NameDiscipline</td>
                    <td>
                        <a class="btn btn-danger" href="@Url.Action("Delete", "DisciplinManage", new {discId=disc.Id})">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

<form method="post" asp-controller="UserRoles" asp-action="Index">
    <button class="btn btn-primary">Назад</button>
</form>